#not-found {

    .content {
        margin-left: 5em;

        h2 {
            color: $red;
            font-family: $code-font;
            padding: 2em 0;

        }

        .code {
            color: $green-files
        }
    }
}