// Projects Style
#arrow-scroll {
    transform: rotate(-90deg);
    width: 30px;
    z-index: 1;
    position: fixed;
    bottom: 35px;
    left: 50%;
    opacity: 0;

    @media only screen and (max-width: $xs) {
        bottom: 50px;
    }

    .st0 {
        fill: none;
        stroke: $red;
        stroke-width: 10;
        stroke-miterlimit: 10
    }
}

#projects {

    padding: 1em;

    @media only screen and (min-width: $md) and (max-width: $lg) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2em;
        padding: 1em;
    }

    // desktop -1023px
    @media only screen and (min-width: $lg) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1.5em;
        padding: 2em;
    }

    .button {
        display: contents;
        text-decoration: none;

        figure {
            text-align: justify;
            background-color: $grey-cards;
            padding: 1em;
            margin-bottom: 5%;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;

            .project-main-image {
                width: 100%;
            }

            figcaption {
                width: 100%;
                margin-bottom: 70px;

                h2 {
                    color: $blue;
                    padding: 0.5em 0;
                    font-size: 1.2em;

                    @media only screen and (min-width: $xs) {
                        font-size: 1.3em;
                    }

                    @media only screen and (min-width: $sm) {
                        font-size: 1.6em;
                    }

                    &::before {
                        content: '<';
                        color: $grey-fonts;
                    }

                    &::after {
                        content: '>';
                        color: $grey-fonts;
                    }
                }

                p {
                    line-height: 1.19em;
                    color: $dark-white;
                    word-spacing: 0.1px;
                    letter-spacing: 1.2px;
                    line-height: 22px;
                }
            }

            .button-project {

                width: fit-content;
                background: $grey-form;
                padding: 0.7em;
                border-radius: 2px;
                color: $yellow-js;

                &:hover {
                    color: $pink-sass;
                }
            }
        }
    }
}