#project {

    #project-header {

        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 1px solid $dark-white;
        margin: 0 2em;
        padding: 1em 0;

        @media only screen and (max-width: $md) {
            margin: 0 1em;
            padding: 1em 0;
        }

        .project-logo {
            height: 40px;
            margin-right: 3em;

            @media only screen and (max-width: $sm) {
                display: none;
            }
        }

        .project-info {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .titles {
                display: flex;
                flex-direction: column;
                align-items: center;

                &>* {
                    margin-bottom: 13px;
                }

                .project-name {
                    font-size: 1.5em;
                    color: $dark-white;
                }

                a {
                    display: block;
                    font-size: 0.7em;
                    color: $blue;
                    text-decoration: none;
                    cursor: pointer;

                    &:hover {
                        color: $blue-footer;
                    }

                    i {
                        color: $pink-sass;
                        padding-right: 0.5em;

                        &:hover {
                            color: $pink;
                        }
                    }
                }

                .state-indicator {
                    width: 100%;
                    background-color: $violet-photo;
                    color: $grey-menu;
                    font-size: 0.6em;
                    padding: 4px 0;
                    text-align: center;
                }
            }

            .tools {
                // display: flex;
                // flex-direction: column;
                // align-items: center;

                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                // grid-template-rows: 1fr 1fr;
                gap: 0.3em;
                .tool {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    background-position: center;
                    background-size: 100%;
                    margin-bottom: 0.5em;
                }

                // .tool:last-of-type{
                //     grid-column: end;
                // }
            }
        }
    }

    #project-body {
        margin-top: 3em;
        margin: 1em;

        @media only screen and (min-width: $md) {
            margin: 2em;
            display: grid;
            grid-template-columns: 30% auto;
        }

        p {
            text-align: justify;
            margin-bottom: 3em;
            color: $dark-white;
            word-spacing: 0.1px;
            letter-spacing: 1.2px;
            line-height: 22px;

            @media only screen and (min-width: $md) {
                margin-right: 2em;
            }
        }

        .img-container {

            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            .right-cursor,
            .left-cursor {
                height: 100%;
                width: 50%;
                position: absolute;
            }

            .right-cursor {
                cursor: url('https://img.icons8.com/ios/30/ffffff/back--v1.png'), auto;
                left: 0;
            }

            .left-cursor {
                cursor: url('https://img.icons8.com/ios/30/ffffff/forward--v1.png'), auto;
                right: 0;
            }

            a {
                display: contents;

                .img-slider {
                    height: 80%;
                    background-size: cover;
                }
            }

            .arrow-slider {
                .st0 {

                    fill: none;
                    stroke: $red;
                    stroke-width: 10;
                    stroke-miterlimit: 10
                }
            }

            .right {
                transform: rotate(180deg)
            }
        }
    }
}