// Header Styles

#header {
    background-color: $grey-menu;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    box-shadow: 0 4px 2px -2px black;

    ul {
        display: flex;
        justify-content: flex-end;

        a {
            margin-right: 3px;
            padding: 10px 8px;
            background-color: $grey-list;
            color: $dark-white;

            //font style
            font-size: 0.8em;
            font-family: $arial;
            font-weight: lighter;
            letter-spacing: 1.2px;
            word-spacing: -0.03em;
            text-decoration: none;
            display: flex;
            align-items: center;

            @media only screen and (min-width: $md) {
                font-size: 1.2em;
                padding: 10px 15px;
            }

            @media only screen and (min-width: $sm) and (max-width: $md) {
                font-size: 1em;
                padding: 10px 13px;
            }

            @media only screen and (min-width: $xs) and (max-width: $sm) {
            // here
                font-size: 0.9em;
                padding: 10px 10px;
            }
            &::before {
                padding-right: 7px;
            }

        }

        .active {
            background-color: $back-ground;
            color: #ffffff;
            font-weight: 300;
        }

        .project {
            display: flex;
            // align-items: center;
            justify-content: space-between;
            padding: 10px 0px;

            i {
                color: $white;
                margin: 0 9px;
                font-size: 0.9em;
            }

            .icon-remove {
                width: 20px;
                height: 20px;
                margin: 0 10px;

            }
        }

        .home::before {

            @media only screen and (min-width: 440px) {
                content: '# ';
                color: $blue-files;
            }
        }

        .about::before {

            @media only screen and (min-width: 440px) {
                content: '<> ';
                color: $orange-index;
            }

        }

        .projects::before {
            @media only screen and (min-width: 440px) {
                content: 'JS ';
                color: $yellow-js;
                font-size: 0.8em;
                font-weight: 3em;
            }

        }

        .contact::before {

            // content: '& ';
            // color: $pink-sass;
            @media only screen and (min-width: 440px) {
                content: '{} ';
                color: $yellow-js;
            }
        }
    }
}