// Social Nets Styles

#social-net {
    height: 98%;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: $grey-icon;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
    width: 53px;

    a {
        display: contents;
        text-decoration: none;

        i {
            color: $dark-white;
            font-size: 2em;
            padding: 15px 0;
            box-sizing: border-box;
            width: 100%;
            text-align: center;

            &:hover {
                border-left: 2px solid $white;
                color: $white;
                margin: 5px 0px 5px 0;
            }
        }

        #logo {
            box-sizing: border-box;
            width: 53px;
            padding: 15px 10px;

            .st0 {
                fill: $dark-white;
            }

            &:hover {
                border-left: 2px solid $white;
                margin: 10px 0px 5px 0;

                .st0 {
                    fill: $white;
                }
            }
        }
    }
}