// VARIABLES
@import 'variables';

//COMPONENTS
@import './components/SocialNets';
@import './components/Header';
@import './components/Footer';
@import './components/LateralBar.scss';

//ROUTERS
@import './routers/Home';
@import './routers/About';
@import './routers/Projects';
@import './routers/Project';
@import './routers/Contact';
@import './routers/NotFound';

// font-family: -apple-system, system-ui, BlinkMacSystemFont, 
//            'Segoe UI', Roboto, 'Helvetica Neue', 
//            Ubuntu, Arial, sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $arial;
  font-weight: lighter;
  font-style: normal;
  font-weight: 100;
  color: $white;
}

body {
  background-color: $back-ground;
  max-width: 1400px;
}

.container {
  min-width: 230px;
  max-width: 1300px;
  margin-left: 3.4em;
  margin-top: 2.7em;
}

// Scroll bar
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $back-ground;
  border: 0.5px solid $grey-lateral;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $grey-form;
  border: 0.5px solid $grey-lateral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-lateral
}