// VARIABLES
@import 'variables';

//COMPONENTS
@import './components/SocialNets';
@import './components/Header';
@import './components/Footer';
@import './components/LateralBar.scss';
@import './components/Templates.scss';

//ROUTERS
@import './routers/Home';
@import './routers/About';
@import './routers/Projects';
@import './routers/Project';
@import './routers/Contact';
@import './routers/NotFound';

// font-family: -apple-system, system-ui, BlinkMacSystemFont, 
//            'Segoe UI', Roboto, 'Helvetica Neue', 
//            Ubuntu, Arial, sans-serif;


* {
  padding: 0;
  margin: 0;
  font-family: $code-font;
  font-weight: lighter;
  font-style: normal;

  color: $white;

}

body {
  background-color: $back-ground;
  display: flex;
  justify-content: center;

}

#root {
  max-width: 1500px;
  min-width: 300px;
  width: 1300px;

}

#routers-container {

  width: calc(100% - 53px);
  position: relative;
  right: -53px;
}

.container {
  // border-image: linear-gradient(to right, $grey-form 10%, $blue-bar 50%, $grey-form 60%);
  border-right: 15px solid $grey-form;
  height: fit-content;

  &:before {
    background: linear-gradient(to right, $blue-bar 4px, $grey-form 0px);
    margin-top: 380px;
    position: absolute;
    content: '';
    height: 30px;
    width: 15px;
    right: 0;
  }

  &:after {
    background: linear-gradient(to right, $green-bar 4px, $grey-form 0px);
    margin-top: -50px;
    position: absolute;
    content: '';
    height: 60px;
    width: 15px;
    right: 0;
  }
}


// Scroll bar
::-webkit-scrollbar {
  width: 1em;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $back-ground;
  border: 0.5px solid $grey-lateral;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $grey-form;
  border: 0.5px solid $grey-lateral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $grey-lateral
}