// VARIABLES
@import 'variables';

//COMPONENTS
@import './components/SocialNets';
@import './components/Header';
@import './components/Footer';
@import './components/LateralBar.scss';

//ROUTERS
@import './routers/Home';
@import './routers/About';
@import './routers/Projects';
@import './routers/Project';
@import './routers/Contact';
@import './routers/NotFound';

// font-family: -apple-system, system-ui, BlinkMacSystemFont, 
  //            'Segoe UI', Roboto, 'Helvetica Neue', 
  //            Ubuntu, Arial, sans-serif;

* {
  padding: 0;
  margin: 0;
  font-family: $arial;
  font-weight: lighter;
  font-style: normal;
  font-weight: 100;
  color: $white;
}

body {
  background-color: $back-ground;
  max-width: 1400px;
}

li {
  list-style: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;
}

.container {
  min-width: 230px;
  margin-left: 2.8em;
  @include margin-top(1em, 2);
}

// Scroll bar
::-webkit-scrollbar {
  width: 1em; 
}

/* Track */
::-webkit-scrollbar-track {
  background-color: $back-ground;
  border: 0.5px solid $grey-lateral; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: $grey-form;
  border: 0.5px solid $grey-lateral;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:$grey-lateral
}